name: harvester_app
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=2.19.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_map: ^6.0.0  # 升级到兼容版本
  latlong2: ^0.9.0     # 升级到兼容版本
  shared_preferences: ^2.0.15
  flutter_map_marker_popup: ^6.0.0
  url_launcher: ^6.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true